# Statistik Deskriptif

In [1]:
import pandas as pd
url = "https://vincentarelbundock.github.io/Rdatasets/csv/carData/WVS.csv"
dataset = pd.read_csv(url)

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5381 entries, 0 to 5380
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5381 non-null   int64
 1   poverty     5381 non-null   object
 2   religion    5381 non-null   object
 3   degree      5381 non-null   object
 4   country     5381 non-null   object
 5   age         5381 non-null   int64
 6   gender      5381 non-null   object
dtypes: int64(2), object(5)
memory usage: 294.4+ KB

In [39]:
dataset.head()

   Unnamed: 0      poverty religion degree country  age  gender
0           1   Too Little      yes     no     USA   44    male
1           2  About Right      yes     no     USA   40  female
2           3   Too Little      yes     no     USA   36  female
3           4     Too Much      yes    yes     USA   25  female
4           5   Too Little      yes    yes     USA   39    male

In [40]:
dataset['Equal-Widht'] = pd.cut(dataset['age'], [0, 11, 20, 30, 101], labels = ['Anak', 'Remaja','Dewasa', 'Tua'])
dataset.head(100)

    Unnamed: 0      poverty religion degree country  age  gender Equal-Widht
0            1   Too Little      yes     no     USA   44    male         Tua
1            2  About Right      yes     no     USA   40  female         Tua
2            3   Too Little      yes     no     USA   36  female         Tua
3            4     Too Much      yes    yes     USA   25  female      Dewasa
4            5   Too Little      yes    yes     USA   39    male         Tua
..         ...          ...      ...    ...     ...  ...     ...         ...
95          96   Too Little      yes     no     USA   49    male         Tua
96          97   Too Little      yes     no     USA   61    male         Tua
97          98   Too Little      yes     no     USA   59  female         Tua
98          99  About Right      yes     no     USA   25  female      Dewasa
99         100   Too Little      yes     no     USA   18    male      Remaja

[100 rows x 8 columns]

In [7]:
dataset['Equal-Frequency'] = pd.qcut(dataset['age'], q=4, precision=1, labels = ['Anak', 'Remaja','Dewasa', 'Tua'] )
dataset.head(100)

,Unnamed: 0,poverty,religion,degree,country,age,gender,Equal-Frequency
0,1,Too Little,yes,no,USA,44,male,Dewasa
1,2,About Right,yes,no,USA,40,female,Remaja
2,3,Too Little,yes,no,USA,36,female,Remaja
3,4,Too Much,yes,yes,USA,25,female,Anak
4,5,Too Little,yes,yes,USA,39,male,Remaja
...,...,...,...,...,...,...,...,...
95,96,Too Little,yes,no,USA,49,male,Dewasa
96,97,Too Little,yes,no,USA,61,male,Tua
97,98,Too Little,yes,no,USA,59,female,Tua
98,99,About Right,yes,no,USA,25,female,Anak
99,100,Too Little,yes,no,USA,18,male,Anak